.list {
  margin-top: 10px;
  background-color: #f0ece2;
  border-radius: 15px;
  padding: 15px;
  list-style: none;
}
.option {
  margin-top: 8px;
}
.total {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}
